@using W09_10_EFCodeFirst.Models
@model List<Person>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class=container>

        <div class="row">
            <div class="col-md-6">
                <h2 class="text-danger">People and Addresses</h2>
            </div>
            <div class="col-md-3">
                <br />
                @Html.ActionLink("New Person", "NewPerson", "Person", null, new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-3">
                <br />
                @Html.ActionLink("New Address", "NewAddress", "Address", null, new { @class = "btn btn-primary" })
            </div>
        </div>


        @foreach (Person p in Model)
        {
            <div class="row table-bordered">

                <div class="col-md-3">
                    <p class="text-warning">
                        @Html.ActionLink("Edit", "Edit", "Person", new { personId = p.Id }, new { @class = "btn btn-warning btn-sm" })
                        @Html.ActionLink("Delete", "Delete", "Person", new { personId = p.Id }, new { @class = "btn btn-danger btn-sm" })
                        <span class="glyphicon glyphicon-user"></span>
                        @p.Name, @p.Age
                    </p>
                </div>

                <div class="col-md-9">
                    @foreach (Address a in p.AddressList)
                    {
                    <p class="text-info">
                        @Html.ActionLink("Edit", "Edit", "Address", new { addressId = a.Id }, new { @class = "btn btn-warning btn-xs" })
                        @Html.ActionLink("Delete", "Delete", "Address", new { addressId = a.Id }, new { @class = "btn btn-danger btn-xs" })
                        <span class="glyphicon glyphicon-home"></span>
                        @a.Description
                    </p>
                    }
                </div>

            </div>
        }

    </div>
</body>
</html>
